<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Service Details</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.1.0/codemirror.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.1.0/theme/monokai.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.1.0/addon/scroll/simplescrollbars.min.css">
		<link rel="stylesheet" href="../../css/app.css">
		<link rel="stylesheet" href="../../lib/bootstrap-tokenfield.css" type="text/css">
		<link href="../../lib/tokenfield-typeahead.css" type="text/css" rel="stylesheet">
		<link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div id="deleteDlg"></div>
		<div class="container">
			<div class="row">
				<h2>Service Details</h2>
			</div>
			<div class="row">
				<div class="pull-right">
					<input id="btnShowlists" class="btn btn-primary" type="button" value="Back">
				</div>
			</div>
			<div class="row" role="tabpanel">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#format" aria-controls="format" role="tab" data-toggle="tab">Format</a></li>
					<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="format">
						<form>
							<div class="form-group form-right">
								<input id="btnCancel" class="btn btn-primary btn-right hidden" type="button" value="Cancel">
								<input id="btnDelete" class="btn btn-danger btn-right" type="button" value="Delete">
								<input id="btnToggle" class="btn btn-primary btn-right" type="button" value="Modify">
							</div>
							<div class="form-group">
								<label for="serviceCategory">Service Category</label>
								<input type="text" class="form-control" id="serviceCategory" readonly>

								<div class="btn-group" id="categorybox">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									Category<span class="caret"></span>
									</button>
								    <ul class="dropdown-menu" role="menu">
								    	<li class="divider"></li>
								    	<li><a href="#">HomeSecurity</a></li>
								    	<li><a href="#">Mobile</a></li>
								  </ul>
								</div>
							</div>
							<div class="form-group">
								<label for="serviceName">Service Name</label>
								<input type="text" class="form-control" id="serviceName" readonly>
							</div>
							<div class="form-group">
								<label for="serviceDesc">Description</label>
								<input type="text" class="form-control" id="serviceDesc" readonly>
							</div>
							<div class="form-group">
								<label for="messageCode">Message Code</label>
								<input type="text" class="form-control" id="messageCode" readonly>
							</div>
							<div class="form-group">
								<label for="serviceType">Service Type</label>
								<textarea type="text" class="form-control" id="serviceType" readonly></textarea>
							</div>
							<div class="form-group">
								<label for="serviceSource">Source</label>
								<div><textarea id="serviceSource" name="serviceSource"></textarea></div>
							</form>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="history"></div>
				</div>
			</div>
		</div>
		
		<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/5.1.0/codemirror.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.2.0/mode/clike/clike.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/5.1.0/addon/selection/active-line.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/5.1.0/addon/scroll/simplescrollbars.min.js"></script>
		<script src="../../lib/services.js"></script>
		<script type="text/javascript" src="../../lib/bootstrap-tokenfield.js" charset="UTF-8"></script>
		<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

		<script>
			$(document).ready(function() {

				$("#categorybox").addClass("hidden");

				var url = window.location.href;
				var scriptServiceId = url.substr(url.indexOf('?')+1);

				var svc = Services.Service;
				var serviceCategory = $('#serviceCategory');
				var serviceName = $('#serviceName');
				var serviceDesc = $('#serviceDesc');
				var messageCode = $('#messageCode');
				var serviceType = $('#serviceType');
				var serviceSource = $('#serviceSource');

				var oldData = {};

				svc.details(scriptServiceId, function (err, data) {
					if (err) {
						console.error(err);
					} else {
						oldData = data;
						serviceCategory[0].value = data.serviceCategory;
						serviceName[0].value = data.scriptServiceName;	
						serviceDesc[0].value = data.scriptServiceDesc;

						var msg = "";
						var messageCodeCnt = data.messageCode.length;
						$.each(data.messageCode, function (i, item) {
							msg += item;
							if (i < (messageCodeCnt-1)) {
								msg += ", ";
							}
						});
						messageCode[0].value = msg;

						serviceType[0].value = data.serviceType;
						editor.setValue(data.scriptServiceSrc);
					}
				});

				var messageCodeList = null;
				svc.messageCodeList(function (err, data) {
					if (err) {
						console.error(err);
					} else {
						messageCodeList = data;
					}
				});

				var editor = CodeMirror.fromTextArea(document.getElementById('serviceSource'), {
					lineNumbers: true,
					readOnly: true,
					theme: 'monokai',
					mode: 'text/x-java',
					styleActiveLine: true,
					scrollbarStyle: 'simple'
				});


				// Service Category
				$(".dropdown-menu li a").on("click", function () {
					var selText = $(this).text();
					$(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
				});

				

				$('#btnShowlists').on('click', function () {
					window.location.href = 'ServiceList.html';
				});

				$('#btnDelete').on('click', function () {
					$('#deleteDlg').load('../../lib/dialog.html', function () {
						var warnStr = 'Are you really delete the Service <strong>"' + serviceName[0].value + '"</strong>?';

						$('#mbody-content').html(warnStr);

						$('#deleteConfirm').off('click').on('click', function () {
							svc.deleteThing(scriptServiceId, function (err, data) {
								if (err) {
									console.error(err);
								} else {
									window.location.href = 'MessageList.html';
								}
							});
						});

						$('#deleteModal').modal('show');

						$('#deleteModal').on('hidden.bs.modal', function () {
							$(this).remove();
						});
					});
				});

				$('#btnCancel').on('click', function () {
					$(this).addClass('hidden');
					$('#btnDelete').removeClass('hidden');
					$('#btnToggle')[0].value = 'Modify';

					serviceCategory[0].value = oldData.serviceCategory;
					serviceName[0].value = oldData.serviceName;
					serviceDesc[0].value = oldData.serviceDesc;
					messageCode[0].value = oldData.messageCode;
					serviceType[0].value = oldData.serviceType;
					editor.setValue(oldData.serviceSource);

					serviceCategory.attr('readonly', true);
					serviceName.attr('readonly', true);
					serviceDesc.attr('readonly', true);
					messageCode.attr('readonly', true);
					serviceType.attr('readonly', true);
					editor.setOption('readOnly', true);

					$('#serviceCategory').removeClass('hidden');
				});

				$('#btnToggle').on('click', function () {
					var self = $(this)[0];

					if (self.value === 'Modify') {
						var oldDatas = $('[readonly]');
						oldDatas.each(function(i, node) {
							$(node).attr('readonly', false);
						});

						editor.setOption('readOnly', false);

						self.value = 'Save changes';
						
						serviceName .focus();

						$("#messageCode").tokenfield({
							autocomplete: {
								source: messageCodeList,
								delay: 100
							},
							showAutocompleteOnFocus: true
						});

						// $('#messageCode').tokenfield('writeable');
						$('#serviceCategory').addClass('hidden');
						$("#categorybox").removeClass("hidden");
						$('#btnCancel').removeClass('hidden');
						$('#btnDelete').addClass('hidden');
					} else if (self.value === 'Save changes') {

						var messages = $("#messageCode").val();
						var updateData = {
							scriptServiceName: serviceName[0].value,
							messageCode: messages.split(', '),
							scriptServiceDesc: serviceDesc [0].value,
							scriptServiceSrc: editor.getValue()
						};

						svc.updateThing(scriptServiceId, updateData, function (err, data) {
							if (err) {
								console.error(err);
							} else {
								window.location.href = 'ServiceList.html';
							}
						});
					}
				});
			});
		</script>
	</body>
</html>
